<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HomeOffice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HomeOffice.Properties.Settings>
            <setting name="ServerIpAddress" serializeAs="String">
                <value>192.168.202.32</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>43538</value>
            </setting>
            <setting name="ComputerIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ComputerMacAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="CloseAfterConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDefaultPort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DelayBeforeRdpConnect" serializeAs="String">
                <value>0</value>
            </setting>
        </HomeOffice.Properties.Settings>
    </userSettings>
</configuration>